<div id="sold-display">
    <h2>Sales Confirmation</h2>
	<div class="card">
        <div class="card-block">
        <p>Sold Item: @ViewBag.Item.Product.Name</p>
		<p>Retail Price: $@ViewBag.Item.Product.RetailPrice</p>
        <p>Commission: $@ViewBag.Item.Product.Commission()</p>
		
		</div>
	</div>
</div>