@model IEnumerable<Tiffanys.Models.Item>

@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims

<h2>Inventory</h2>

@if(ViewBag.Associate != null)
{
    <p>@ViewBag.Associate</p>

    foreach (var item in Model)
    {
    <form class="sold-item">
        <input type="hidden" value=@User.Identity />
        <div class="card">
            <div class="card-block">
                <p>@item.Product.Name</p>
                <p>$@item.Product.RetailPrice</p>

                <button class="sold-button" type="click">Sell</button>
            </div>
        </div>
    </form>
    }

}

